*{
	margin: 10px;
	padding: 10px;
}
body 
{
	background-color:0A2127;
	color:#ffffff;
	font-family:verdana;
}
header
{
		height:100px;
		background-color:003333;
}
nav{
		height:50pxp;
		background-color:20788C;
}
section
{	background-color:20788C;
		height:160px;
		width:65%;
		float:left;
		
}
aside
{
	background-color:8AC9D9;
	height:300px;
	width:25%;
	float:right;
}
footer
{
	background-color:CFE0E5;
	height:2000px;
	float:bottom;
	
}